<div class="news">
  <h2>NEWS</h2>
</div>
<div class="reader-pool">
  <div class="reader-title">
    <div class="row">
      <div class="col-6">
        <h5>READER POOL</h5>
      </div>
      <div class="col-6">
        <p>12 MAR - 10 APR</p>
      </div>
    </div>
  </div>
  <div class="reader-content">
    <h4>Sed the amet est, AD Piscing eliem est valorem Nonumiam Est game?</h4>
    <p><input type="radio" name="question" /> Yes</p>
    <p><input type="radio" name="question" /> No</p>
    <p><input type="radio" name="question" /> Maybe</p>
  </div>
</div>
