<div class="navigation">
    <div class="already-account">
        <p>Don`t have any account?</p>
    </div>
    <app-button [classValue]="'sm transparent'" [textValue]="'Get Started'"></app-button>
</div>

<div class="row">
    <div class="col-12 sendemail">
        <div class="col-3 icon-email"></div>
        <div class="col-12 head">
            <h1>Check your email solyasolya@gmail.com</h1>
        </div>
        <div class="col-12  text">
            <p>If there`s Sport News account linked to this email address,we`ll send over instuctions ti reset to your password.</p>
        </div>
    </div>
    <div class="col-12 login">
        <a href="#">Don`t have any account?</a>
    </div>
</div>