.navigation {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 56px;
    margin-top: 24px;
    display: flex;
}

.already-account {
    display: flex;
    justify-content: center;
    align-items: center;
}

.already-account p {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 17px;
    color: #596377;
    margin: 0;
    margin-right: 20px;
}

.sendemail {
    text-align: center;
}

.icon-email {
    display: block;
    margin: auto;
    content: url("../../../assets/img/Email.svg")
}

.head {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #000000;
}

.text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #596377;
}

.login {
    display: none;
}

.backsignup {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height */
    color: #000000;
}

@media screen and (min-width:769px) and (max-width:1200px) {
    .login {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .navigation {
        display: none;
    }
    .icon-email {
        content: url("../../../assets/img/Email-white.svg")
    }
    .text {
        color: #C6CCD7;
    }
    .head {
        color: #FFFFFF;
    }
    label {
        color: #FFFFFF;
    }
    .login {
        display: inline;
    }
    .login a {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 17px;
        color: #FFFFFF;
    }
}