<div class="navigation">
    <div class="already-account">
        <p>Don`t have any account?</p>
    </div>
    <app-button [routerLink]="['/login/create-account']" [classValue]="'sm transparent'" [textValue]="'Get Started'"></app-button>
</div>
<form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="row">
        <div class="col-12 head">
            <h1>Forgot your password?</h1>
        </div>
        <div class="col-12 col-lg-7 text">
            <p>Please enter your new password.</p>
        </div>
        <div class="col-12 form-group ">
            <label>Email</label>
            <input type="email" class="form-control" formControlName="email" placeholder="user@usergmail.com" name="email" [ngClass]="{ 'invalid-input': (submitted && f.email.errors)||(f.email.touched && f.email.errors)||(err), 'valid-input': f.email.touched && !f.email.errors}">
            <div *ngIf=" (submitted && f.email.errors)||(f.email.touched && f.email.errors) " class="text-control ">
                <div *ngIf="f.email.errors.required ">Email is required</div>
                <div *ngIf="f.email.errors.email ">Write right email</div>
            </div>
        </div>
        <div class="col-12 form-group ">
            <label>Verification Code</label>
            <input type="text" class="form-control" formControlName="code" placeholder="code" name="code" [ngClass]="{ 'invalid-input': (submitted && f.code.errors)||(f.code.touched && f.code.errors)||(err), 'valid-input': f.code.touched && !f.code.errors}">
            <div *ngIf=" (submitted && f.code.errors)||(f.code.touched && f.code.errors) " class="text-control">
                <div *ngIf="f.code.errors.required">Code is required</div>
                <div *ngIf="f.code.errors.pattern">Code contains only number</div>
            </div>
        </div>
        <div class="col-12 form-group ">
            <label>New Password</label>
            <input type="password" class="form-control" formControlName="password" placeholder="new password" name="password" [ngClass]="{ 'invalid-input': (f.password.touched && f.password.errors)||(submitted && f.password.errors) ,'valid-input':f.password.touched && !f.password.errors}">
            <div *ngIf="(f.password.touched && f.password.errors)||(submitted && f.password.errors)" class="text-control">
                <div *ngIf="f.password.errors.required">Password is required</div>
                <div *ngIf="f.password.errors.minlength">Password must be at least 8 characters</div>
            </div>
        </div>
        <div class="col-12 form-group ">
            <label>Password</label>
            <input type="password" class="form-control" formControlName="confirmPassword" placeholder="confirm password" name="confirmPassword" [ngClass]="{ 'invalid-input': (f.confirmPassword.touched && f.confirmPassword.errors)||(submitted && f.confirmPassword.errors), 'valid-input': f.confirmPassword.touched && !f.confirmPassword.errors}">
            <div *ngIf="(f.confirmPassword.touched && f.confirmPassword.errors)||(submitted && f.confirmPassword.errors)" class="text-control">
                <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
            </div>
        </div>
        <div class="col-12 form-group form-group-submit mt-3">
            <app-button [typeValue]="'submit'" [classValue]="'full colored'" [textValue]="'REQUEST RESENT LINK'"></app-button>
        </div>
        <div class="col-12 login">
            <a href="#">Don`t have any account?</a>
            <a [routerLink]="['/login']">Back to log in</a>
        </div>
    </div>
</form>