<div class="breakdown">
  <div class="title" >
    <span>BREAKDOWN</span>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <div class="breakdown-photo">
        <img src="../../../assets/img/RectangleCopy14.png"/>
        <h4>Lorem ipsum dolor sit amet, consectetur</h4>
        <div class="arrow">
          <img src="../../../assets/img/Arrow.png"/>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="news-content">
        <div class="row">
          <div class="col-5">
            <img src="../../../../assets/img/Rectangle.png"/>
          </div>
          <div class="col-7">
            <h5>Lorem ipsum</h5>
            <p>Lorem ipsum dolor sit amet, consectetur</p>
            <div class="arrow">
              <img src="../../../../assets/img/Arrow.png"/>
            </div>
          </div>
        </div>
      </div>
      <div class="news-content">
        <div class="row">
          <div class="col-5">
            <img src="../../../../assets/img/Rectangle(1).png"/>
          </div>
          <div class="col-7">
            <h5>Lorem ipsum</h5>
            <p>Lorem ipsum dolor sit amet, consectetur</p>
            <div class="arrow">
              <img src="../../../../assets/img/Arrow.png"/>
            </div>
          </div>
        </div>
      </div>
      <div class="news-content">
        <div class="row">
          <div class="col-5">
            <img src="../../../../assets/img/Rectangle(2).png"/></div>
          <div class="col-7">
            <h5>Lorem ipsum</h5>
            <p>Lorem ipsum dolor sit amet, consectetur</p>
            <div class="arrow">
              <img src="../../../../assets/img/Arrow.png"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="breakdown-photo">
        <img src="../../../assets/img/RectangleCopy14.png"/>
        <h4>Lorem ipsum dolor sit amet, consectetur</h4>
        <div class="arrow">
          <img src="../../../assets/img/Arrow.png"/>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="news-content">
        <div class="row">
          <div class="col-5">
            <img src="../../../assets/img/Rectangle.png"/>
          </div>
          <div class="col-7">
            <h5>Lorem ipsum</h5>
            <p>Lorem ipsum dolor sit amet, consectetur</p>
            <div class="arrow">
              <img src="../../../assets/img/Arrow.png"/>
            </div>
          </div>
        </div>
      </div>
      <div class="news-content">
        <div class="row">
          <div class="col-5">
            <img src="../../../assets/img/Rectangle(1).png"/>
          </div>
          <div class="col-7">
            <h5>Lorem ipsum</h5>
            <p>Lorem ipsum dolor sit amet, consectetur</p>
            <div class="arrow">
              <img src="../../../assets/img/Arrow.png"/>
            </div>
          </div>
        </div>
      </div>
      <div class="news-content">
        <div class="row">
          <div class="col-5">
            <img src="../../../assets/img/Rectangle(2).png"/>
          </div>
          <div class="col-7">
            <h5>Lorem ipsum</h5>
            <p>Lorem ipsum dolor sit amet, consectetur</p>
            <div class="arrow">
              <img src="../../../assets/img/Arrow.png"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
