.title {
  display: flex;
  justify-content: center;
}
hr {
  background-color: #B2B2B2;
  margin-bottom: 60px;
}
.title span {
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  padding: 10px 20px;
  background: #fff;
  border: 1px solid #B2B2B2;
  border-radius: 20px;
  margin-bottom: -38px;
}
.breakdown {
  margin: 40px 0;
}
.breakdown img {
  width: 100%;
}
.breakdown .col-md-6 {
  margin-bottom: 50px;
}
.breakdown-photo {
  border: 1px solid #EDEDED;
  position: relative;
}
.breakdown-button button {
  position: absolute;
  width: 134px;
  height: 39px;
  left: 0;
  top: 0;
  background: #2F2F2F;
  border: none;
  font-weight: bold;
  font-size: 14px;
  color: #FFFFFF;
}
.breakdown h4 {
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  padding: 12px 15px;
}
.breakdown-photo:hover{
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.news-content img {
  height: 100%;
  width: 100%;
  max-height: 120px;
}
.news-content {
  border: 1px solid #EDEDED;
}
.news-content .col-5 {
  padding-right: 0;
}
.news-content h5{
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  margin: 15px 0 5px;
}
.news-content p {
  font-size: 14px;
  line-height: 19px;
  color: #7F7B7B;
}
.news-content:hover{
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.news-content svg{
  position: absolute;
  bottom: 10%;
  right: 10%;
}
.news-content:hover #fill1 {
  fill: #D72130;
}
.breakdown-photo svg{
  position: absolute;
  bottom: 5%;
  right: 7%;
}
.breakdown-photo:hover #fill1 {
  fill: #D72130;
}