<div class="more-articles">
  <div class="title">
    <span>MORE ARTICLES</span>
  </div>
  <hr />

  <div class="row">
    <div class="col-md-6">
      <div *ngFor="let item of clildMoreArticlesContent; let i = index">
        <div *ngIf="i == 0 || i == 1 || i == 2">
          <div class="news-content">
            <div class="row">
              <div class="col-5">
                <img src="{{ item.photo }}" />
              </div>
              <div class="col-7">
                <h5>{{ item.title }}</h5>
                <p>{{ item.content }}</p>
                <svg
                  width="17"
                  height="14"
                  viewBox="0 0 17 14"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    id="fill1"
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M14.2931 7.88752L1.78101 7.88752C1.29892 7.88752 0.908104 7.49671 0.908104 7.01461C0.908104 6.53252 1.29892 6.1417 1.78101 6.1417L14.306 6.1417L11.1066 2.18523C10.3615 1.26384 11.7027 0.112092 12.4478 1.03349L16.8123 6.43074C17.0821 6.76433 17.0821 7.24889 16.8123 7.58249L12.4478 12.9797C11.7027 13.9011 10.3615 12.7494 11.1066 11.828L14.2931 7.88752Z"
                    fill="#FFFF"
                  />
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div *ngFor="let item of clildMoreArticlesContent; let i = index">
        <div *ngIf="i == 3 || i == 4 || i == 5">
          <div class="news-content">
            <div class="row">
              <div class="col-5">
                <img src="{{ item.photo }}" />
              </div>
              <div class="col-7">
                <h5>{{ item.title }}</h5>
                <p>{{ item.content }}</p>
                <svg
                  width="17"
                  height="14"
                  viewBox="0 0 17 14"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    id="fill1"
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M14.2931 7.88752L1.78101 7.88752C1.29892 7.88752 0.908104 7.49671 0.908104 7.01461C0.908104 6.53252 1.29892 6.1417 1.78101 6.1417L14.306 6.1417L11.1066 2.18523C10.3615 1.26384 11.7027 0.112092 12.4478 1.03349L16.8123 6.43074C17.0821 6.76433 17.0821 7.24889 16.8123 7.58249L12.4478 12.9797C11.7027 13.9011 10.3615 12.7494 11.1066 11.828L14.2931 7.88752Z"
                    fill="#FFFF"
                  />
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
