<div class="main-photo">
    <div>
      <img src="../../../assets/img/dealbookMain.png"/>
    </div>
  </div>
  <div class="main-article">
    <div class="row ml-2">
      <div class="col-md-12 mt-2">
        <p>Publised / 20.09.2019</p>
        <h5>Article by Some Name / Assosiated Prass</h5>
        <h4>How KUZMA has improved and inspired in 2nd season</h4>
        <!-- <app-button [classValue]="'lg transparent'" [textValue]="'REQUEST RESENT LINK'"></app-button> -->
      </div>
    </div>
  </div>
  