<!-- <main class="container"> -->
<div class="video-page-header">
  <span class="page-name-span">VIDEO</span>
  <span class="page-name-span subname">{{ this.title }}</span>
</div>
<div class="video-page-container">
  <div *ngFor="let video of videos" class="{{ video.size }}-video-holder">
    <app-video-widget
      [id]="video.id"
      size="{{ video.size }}"
      videoLogoName="{{ video.name }}"
      source="{{ video.source }}"
      poster="{{ video.poster }}"
    ></app-video-widget>
  </div>

  <app-most-popular-comments></app-most-popular-comments>
</div>
