<!-- <main class="container"> -->
  <div class="video-page-header">
    <span class="page-name-span">VIDEO</span>
    <span class="page-name-span subname">As M.L.B.’s Season Opens in Japan, at Least the Dirt Is Familiar</span>
  </div>
  <div class="main-video-holder">
    <app-video-widget [id]="1" size="lg" videoLogoName="The final RWC 2019  is coming! It will be interesting"></app-video-widget>
  </div>

  <div class="">
    <div class=" d-flex flex-column flex-md-row justify-content-between video-row-holder">
      <div class="sm-video-holder">
        <app-video-widget [id]="2" size="sm" videoLogoName="Final RWC 2019"></app-video-widget>
      </div>
      <div class="sm-video-holder">
        <app-video-widget [id]="3" size="sm" videoLogoName="I came up with this logo name"></app-video-widget>
      </div>
    </div>
    <div class=" d-flex flex-column flex-md-row justify-content-between video-row-holder">
      <div class="sm-video-holder">
        <app-video-widget [id]="4" size="sm" videoLogoName="My custom Logo"></app-video-widget>
      </div>
      <div class="sm-video-holder">
        <app-video-widget [id]="5" size="sm" videoLogoName="Stll the same picture..."></app-video-widget>
      </div>
    </div>
  </div>
<!-- </main> -->
