<div class="row">
  <div class="col-md-6 m-sm-sc">

    <div class="title">
      <div class="row">
        <div class="pr">
          <span>MOST POPULAR</span>
        </div>
        <div class="col pl">
          <hr>
        </div>
      </div>
    </div>

    <div class="news-content">
      <div class="row">
        <div class="col-6">
          <img src="../../../../assets/img/dealbookMostPopular1.png" />
        </div>
        <div class="col-6 pl-0">
          <h5>Lorem ipsum</h5>
          <p>Lorem ipsum dolor sit amet, consectetur</p>
        </div>
      </div>
    </div>

    <div class="news-content border-top-0">
      <div class="row">
        <div class="col-6">
          <img src="../../../assets/img/dealbookMostPopular2.png" />
        </div>
        <div class="col-6 pl-0">
          <h5>Lorem ipsum</h5>
          <p>Lorem ipsum dolor sit amet, consectetur</p>
        </div>
      </div>
    </div>
    
    <div class="news-content border-top-0">
      <div class="row">
        <div class="col-6">
          <img src="../../../assets/img/dealbookMostPopular3.png" />
        </div>
        <div class="col-6 pl-0">
          <h5>Lorem ipsum</h5>
          <p>Lorem ipsum dolor sit amet, consectetur</p>
        </div>
      </div>
    </div>

  </div>


  <div class="col-md-6 m-sm-sc p-sm-top">

      <div class="title">
        <div class="row">
          <div class="pr">
            <span>MOST COMMENTS</span>
          </div>
          <div class="col pl">
            <hr>
          </div>
        </div>
      </div>

      <div class="news-content">
        <div class="row">
          <div class="col-6">
            <img src="../../../assets/img/dealbookMostComments1.png" />
          </div>
          <div class="col-6 pl-0">
            <h5>Lorem ipsum</h5>
            <p>Lorem ipsum dolor sit amet, consectetur</p>
          </div>
        </div>
      </div>

      <div class="news-content border-top-0">
        <div class="row">
          <div class="col-6">
            <img src="../../../assets/img/dealbookMostComments2.png" />
          </div>
          <div class="col-6 pl-0">
            <h5>Lorem ipsum</h5>
            <p>Lorem ipsum dolor sit amet, consectetur</p>
          </div>
        </div>
      </div>

      <div class="news-content border-top-0">
        <div class="row">
          <div class="col-6">
            <img src="../../../assets/img/dealbookMostComments3.png" />
          </div>
          <div class="col-6 pl-0">
            <h5>Lorem ipsum</h5>
            <p>Lorem ipsum dolor sit amet, consectetur</p>
          </div>
        </div>
      </div>
      
    </div>

</div>