<div class="most-popular-comments">
        <div class="row">
          <div class="col-md-6">
            <div class="most-popular">
              <div class="title">
                <div class="row">
                  <div class="col-5">
                    <span>MOST POPULAR</span>
                  </div>
                  <div class="col-7">
                    <hr>
                  </div>
                </div>
              </div>
              <div class="news-content">
                <div class="row">
                  <div class="col-5">
                    <img src="../../../../assets/img/dealbookMostPopular.png"/>
                  </div>
                  <div class="col-7">
                    <h5>Lorem ipsum</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur</p>
                    <div class="arrow">
                      <img src="../../../assets/img/Arrow.png"/>
                    </div>
                  </div>
                </div>
              </div>
              <div class="news-content">
                <div class="row">
                  <div class="col-5">
                    <img src="../../../assets/img/RectangleCopy7.2.png"/>
                  </div>
                  <div class="col-7">
                    <h5>Lorem ipsum</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur</p>
                    <div class="arrow">
                      <img src="../../../assets/img/Arrow.png"/>
                    </div>
                  </div>
                </div>
              </div>
              <div class="news-content">
                <div class="row">
                  <div class="col-5">
                    <img src="../../../assets/img/RectangleCopy8.2.png"/>
                  </div>
                  <div class="col-7">
                    <h5>Lorem ipsum</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur</p>
                    <div class="arrow">
                      <img src="../../../assets/img/Arrow.png"/>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="most-comments">
              <div class="title">
                <div class="row">
                  <div class="col-5">
                    <span>MOST COMMENTS</span>
                  </div>
                  <div class="col-7">
                    <hr>
                  </div>
                </div>
              </div>
              <div class="news-content">
                <div class="row">
                  <div class="col-5">
                    <img src="../../../assets/img/RectangleCopy5.4.png"/>
                  </div>
                  <div class="col-7">
                    <h5>Lorem ipsum</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur</p>
                    <div class="arrow">
                      <img src="../../../assets/img/Arrow.png"/>
                    </div>
                  </div>
                </div>
              </div>
              <div class="news-content">
                <div class="row">
                  <div class="col-5">
                    <img src="../../../assets/img/RectangleCopy9.2.png"/>
                  </div>
                  <div class="col-7">
                    <h5>Lorem ipsum</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur</p>
                    <div class="arrow">
                      <img src="../../../assets/img/Arrow.png"/>
                    </div>
                  </div>
                </div>
              </div>
              <div class="news-content">
                <div class="row">
                  <div class="col-5">
                    <img src="../../../assets/img/RectangleCopy19.2.png"/>
                  </div>
                  <div class="col-7">
                    <h5>Lorem ipsum</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur</p>
                    <div class="arrow">
                      <img src="../../../assets/img/Arrow.png"/>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      