.article {
  margin: 40px 0;
}
.articlePhoto {
  width: 100%;
}
.article h5 {
  color: black;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
}
.article p {
  font-size: 14px;
  line-height: 19px;
  color: #7f7b7b;
  display: block;
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.article-rectangle {
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
}
.article-rectangle:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.11);
  transition-duration: 0.4s;
}

hr {
  width: 95%;
  float: center;
  margin: 0 0 0 0;
}

.article-rectangle svg {
  position: absolute;
  bottom: 10%;
  right: 5%;
}
.article-rectangle:hover #fill1 {
  fill: #d72130;
}

@media screen and (max-width: 768px) {
  .article-rectangle {
    width: 90%;
  }
  .article .row {
    display: flex;
    justify-content: center;
  }
  hr,
  svg {
    display: none;
  }
  .article p {
    -webkit-line-clamp: 4;
  }
  .m-sm-top {
    margin-top: 7px;
  }
}
