/* button-form */
/* button-form */
/* button-form */

.sm {
    height: 32px;
    max-width: 97px;
    min-width: 80px;
}

.colored {
    background: #D72130;
    box-sizing: border-box;
    text-align: center;
    color: #FFF5F5;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    border-radius: 0px;
}

.colored:hover {
    background: #E02232;
    color: white;
    box-shadow: none;
}

.colored:focus {
    box-shadow: none;
}

.colored:active {
    background: #C80515;
    box-shadow: none;
    color: white;
}

.btn-invalid{
    background: #000000;
}

/* button-form */
/* button-form */
/* button-form */

.sub-label{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #7F7B7B;
}

.input-em{
    border-radius: 0rem;
    border-color: #D8D8D8;
    max-width: 187px;
    min-width: 100px;
    border-right: none;  
}
.input-em::placeholder{
    color:#C6CCD7;
    font-size: 12px;
    vertical-align: middle;
}

.footer-copyright-info
{
    font-size: 12px;
}

.input-em:hover {
    color: #495057;
    background-color: #fff;
    border-color: #A6A9AF;
    outline: 0;
    box-shadow: 0 0 0 0 ;
  }


.input-em:focus {
    color: #000000;
    background-color: #fff;
    border-color: #A6A9AF;
    outline: 0;
    box-shadow: 0 0 0 0 ;
  }

.input-em.is-invalid {
    color: #495057;
    background-color: #fff;
    border-color: #D72130;
    outline: 0;
    box-shadow: 0 0 0 0 ;
  }

  .input-em.is-invalid:focus {
    color: #495057;
    background-color: #fff;
    border-color: #D72130;
    outline: 0;
    box-shadow: 0 0 0 0 ;
  }


  .input-em.is-invalid::placeholder{
    color: #D72130;
    opacity:0.2;
  }

  .btn.is-invalid{
      background: #D72130;
      text-indent: -9999px; 
      line-height: 0; 
  }
  .btn.is-invalid:after 
  { 
      content: "✖"; 
      text-indent: 0; 
      display: block; 
      line-height: initial; 
  }

  .btn.is-valid{
    background: #57A902;
    text-indent: -9999px; 
    line-height: 0; 
}

.btn.is-valid:after 
{ 
    content: "✔"; 
    text-indent: 0; 
    display: block; 
    line-height: initial; 
}