<div class="navigation">
    <div class="already-account">
        <p>Don`t have any account?</p>
    </div>
    <app-button [classValue]="'sm transparent'" [textValue]="'Get Started'"></app-button>
</div>

<div class="row">
    <div class="col-12 head">
        <h1>Log in Sports New</h1>
    </div>
    <div class="col-12 form-group ">
        <label>Email</label>
        <input type="email" class="form-control" placeholder="Doe" name="email">
    </div>
    <div class="col-12 form-group">
        <div class="forgot-password">
            <label>Password</label>
            <a href="#" target="_blank">Forgot password?</a>
        </div>
        <input type="password" class="form-control" placeholder="Enter your password" name="password">
    </div>
    <div class="col-12 form-group form-group-submit mt-3">
        <app-button [classValue]="'full colored'" [textValue]="'LOG IN'"></app-button>
    </div>
    <div class="col-12 login">
        <a href="#">Don`t have any account?</a>
    </div>
</div>