<div class="title" >
  <span>PHOTO OF THE DAY</span>
</div>
<hr>
<div class="photo-of-the-day">
  <div class="triangle"></div>
  <div class="triangle-content">
    <h5><strong>PHOTO</strong> OF THE <strong>DAY</strong></h5>
  </div>
  <div class="photo-content">
    <h4>Defending The Throne</h4>
    <p>Los Angeles Lakes guard Derek Fisher, right, is pressured by the Denver Nuggets<br>
      Nene during the first quarter of NBA exhibition action on Oct 16 <br>
      <em>Photo Courtesy MCT</em></p>
  </div>
  <img src="../../../assets/img/home-page-photo/Bitmap.png"/>
</div>
