/* You can add global styles to this file, and also import other style files */

@import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css';
@font-face {
    src: url("./assets/fonts/RobotoCondensed-Bold.ttf");
    src: url("./assets/fonts/OpenSans-Regular.ttf");
    font-family: "Open Sans";
    font-family: 'Roboto Condensed Bold';
}


/* body {
  padding-top: 148px;
}

@media screen and (min-width: 768px){
  body {
    padding-top: 83px;
  }
} */