<form [formGroup]="changePasswordForm" (ngSubmit)="changePass()" class="personal-form">
  <h5 *ngIf="error" class="error-block">Oops.. Something went wrong!</h5>

  <label for="oldPassInput">OLD PASSWORD</label>
  <input
    type="text"
    class="old-pass-input"
    id="oldPassInput"
    [(ngModel)]="oldP"
    formControlName="oldPassword"
    [ngClass]="{
      'invalid-input':
        (oldPassword.invalid && oldPassword.touched) || (oldPassword.invalid && submitted),
      'valid-input': oldPassword.touched && !oldPassword.invalid,
      'valid-input': oldPassword.touched && !oldPassword.invalid
    }"
    autocomplete="off"
  />

  <label for="newPassInput">NEW PASSWORD</label>
  <div class="wrapper">
    <div class="type-toggler" [class.is-visible]="isVisible" (click)="changeType()"></div>
    <input
      type="{{ typeInput }}"
      class="new-pass-input"
      [(ngModel)]="newP"
      formControlName="newPassword"
      id="newPassInput"
      [ngClass]="{
        'invalid-input':
          (newPassword.invalid && newPassword.touched) || (newPassword.invalid && submitted),
        'valid-input': newPassword.touched && !newPassword.invalid,
        'valid-input': newPassword.touched && !newPassword.invalid
      }"
      autocomplete="off"
    />
  </div>

  <input
    *ngIf="!changed"
    [class.disabled]="changePasswordForm.invalid"
    [disabled]="changePasswordForm.invalid"
    type="submit"
    value="CHANGE PASSWORD"
  />
  <h5 *ngIf="changed" class="success-block">PASSWORD WAS CHANGED SUCCESSFULLY!</h5>
</form>
