<form action="" class="personal-form" autocomplete="off">
  <label for="oldPassInput">OLD PASSWORD</label>
  <input type="text" class='old-pass-input' id="oldPassInput" autocomplete="off">

  <label for="newPassInput">NEW PASSWORD</label>
  <div class="wrapper">
    <div class="type-toggler" [class.is-visible]="isVisible" (click)="changeType()"></div>
    <input type="{{typeInput}}" class="new-pass-input" id="newPassInput" autocomplete="off">
  </div>
  <input type="submit" value="CHANGE PASSWORD">
</form>
