.personal-form {
  font-size: 0;
  max-width: 390px;
  margin: 0 auto;
  padding-top: 20px;
}

.personal-form label {
  font-size: 10px;
  font-family: "Open Sans";
  color: #434C5D;
  line-height: 11px;
  font-weight: 600;
  cursor: text;
  margin-bottom: 8px;
  padding-left: 10px;
}

.personal-form input {
  display: block;
  width: 100%;
  padding: 11px 22px;
  outline: none;
  font-family: "Open Sans";
  line-height: 19px;
}

.personal-form input[type='text'], .personal-form input[type='password'] {
  border: 1px solid #D4D9E2;
  font-size: 16px;
}

.personal-form input::placeholder {
  color: #B2B2B2;
  font-family: "Open Sans";
  font-size: 16px;
}

.old-pass-input {
  margin-bottom: 20px;
}

.new-pass-input {
  margin-bottom: 38px;
  position: relative;
}

.wrapper {
  position: relative;
}

.type-toggler {
  width: 15px;
  height: 10px;
  background-image: url("../../../assets/icons/showPasswordIcon.svg");
  background-size: contain;
  position: absolute;
  top: 16px;
  right: 20px;
  cursor: pointer;
  z-index: 10;
}

.is-visible {
  background-image: url("../../../assets/icons/showPasswordIconRed.svg");
}

.personal-form input[type='submit'] {
  background-color: #D72130;
  color: white;
  border: none;
  font-size: 14px;
}

.personal-form input[type='submit']:hover {
  background-color: #E02232;
}

.personal-form input[type='submit']:active {
  background-color: #C80515;
}

.success-block {
  text-align: center;
  background-color: green;
  color: white;
  font-family: "Open Sans";
  font-size: 14px;
  padding: 11px 22px;
  line-height: 19px;
}

.error-block {
  text-align: center;
  background-color: #D72130;
  color: white;
  font-family: "Open Sans";
  font-size: 14px;
  padding: 11px 22px;
  line-height: 19px;
}

.personal-form input.invalid-input {
  border: 1px solid red;
}

.personal-form input.valid-input {
  border: 1px solid green;
}

@media screen and (min-width: 768px) {
  .personal-form {
    padding-top: 80px;
  }

  .personal-form label {
    padding-left: 0;
  }
}
