.carousel-content {
  padding: 25px 15px 50px ;
  width: 100%;
  background: #F6F6F6;
  margin-bottom: 10px; 
}
.carousel-content p {
  font-size: 14px;
  line-height: 16px;
  color: #7F7B7B;
}
.carousel-content h5 {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #C63638;
}
.carousel-content h4 {
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  color: #2B2F43;
}
.carousel-buttons {
  display: flex;
  justify-content: flex-end;
  margin: 30px 40px;
}
.carousel-buttons img {
  width: 27px;
  height: 27px;
  margin: 8px 5px;
}
.carousel-buttons .prev-btm {
  transform: rotate(-180deg);
}
.carousel-buttons p {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #B2B2B2;
  padding: 10px 5px;
}