<div id="demo" class="carousel slide" data-ride="carousel">
  <div class="all-news">
    <h2>All</h2>
  </div>

  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="main-photo">
        <img src="../../../assets/img/home-page-photo/MainPhotoArticle.png"/>
      </div>
      <div class="main-content pt-3">
        <div class="col-md-12 ">
          <p>Publised / 20.09.2019</p>
          <h4>London Games return in 2019</h4>
          <h5>Register to receive the latest news on ticket sales for the four NFL London Games in 2019</h5>
        </div>
        <div class="text-center">
          <button type="button" class="btn lg colored">More</button>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="main-photo">
        <img src="../../../assets/img/custom-page-photo/NBA-photo.png">
      </div>
      <div class="main-content pt-3">
        <div class="col-md-12 ">
          <p>Publised / 20.09.2019</p>
          <h4>London Games return in 2019</h4>
          <h5>Register to receive the latest news on ticket sales for the four NFL London Games in 2019</h5>
        </div>
        <div class="text-center">
          <button type="button" class="btn lg colored">More</button>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="main-photo">
        <img src="../../../assets/img/dealbookMain.png">
      </div>
      <div class="main-content pt-3">
        <div class="col-md-12 ">
          <p>Publised / 20.09.2019</p>
          <h4>London Games return in 2019</h4>
          <h5>Register to receive the latest news on ticket sales for the four NFL London Games in 2019</h5>
        </div>
        <div class="text-center">
          <button type="button" class="btn lg colored">More</button>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="main-photo">
        <img src="../../../assets/img/home-page-photo/Bitmap.png">
      </div>
      <div class="main-content pt-3">
        <div class="col-md-12 ">
          <p>Publised / 20.09.2019</p>
          <h4>London Games return in 2019</h4>
          <h5>Register to receive the latest news on ticket sales for the four NFL London Games in 2019</h5>
        </div>
        <div class="text-center">
          <button type="button" class="btn lg colored">More</button>
        </div>
      </div>
    </div>
  </div>

  <div class="controls">
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <i class="far fa-arrow-alt-circle-right"></i>
    </a>

    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active">01</li>
      <li data-target="#demo" data-slide-to="1">02</li>
      <li data-target="#demo" data-slide-to="2">03</li>
      <li data-target="#demo" data-slide-to="3">04</li>
    </ul>

    <a class="carousel-control-next" href="#demo" data-slide="next">
      <i class="far fa-arrow-alt-circle-right"></i>
    </a>
  </div>


</div>


<!--<div class="carousel">-->
<!--  <div class="all-news">-->
<!--    <h2>All</h2>-->
<!--  </div>-->
<!--  <div class="main-photo">-->
<!--    <img src="../../../assets/img/home-page-photo/MainPhotoArticle.png"/>-->
<!--  </div>-->
<!--  <div class="main-content pt-3">-->
<!--    <div class="col-md-12 ">-->
<!--      <p>Publised / 20.09.2019</p>-->
<!--      <h4>London Games return in 2019</h4>-->
<!--      <h5>Register to receive the latest news on ticket sales for the four NFL London Games in 2019</h5>-->
<!--    </div>-->
<!--    <div class="text-center">-->
<!--      <button type="button" class="btn lg colored">More</button>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


