<div class="carousel">
  <div class="all-news">
    <h2>All</h2>
  </div>
  <div class="main-photo">
    <img src="../../../assets/img/home-page-photo/MainPhotoArticle.png"/>
  </div>
  <div class="main-content pt-3">
    <div class="col-md-12 ">
      <p>Publised / 20.09.2019</p>
      <h4>London Games return in 2019</h4>
      <h5>Register to receive the latest news on ticket sales for the four NFL London Games in 2019</h5>
    </div>
    <div class="text-center">
      <button type="button" class="btn lg colored">More</button>
    </div>
  </div>
</div>
