<div class="all-carousel">
  <div class="carousel-container">
    <div class="carousel-content">
      <p>Publised /20.09.2019</p>
      <h5>London Games return in 2019</h5>
      <h4>Register to receive the latest news on ticket sales for the four NFL London Games in 2019</h4>
    </div>
    <div class="carousel-buttons">
        <img class="prev-btm" src="https://www.rea.ru/ru/org/cathedries/bankkaf/SiteAssets/pages/%D0%BC%D1%8B-%D0%B3%D0%BE%D1%80%D0%B4%D0%B8%D0%BC%D1%81%D1%8F/%D0%B2%D0%BF%D0%B5%D1%80%D0%B5%D0%B4.png" alt="">
      <p> 01 </p>
      <p> 02 </p>
      <p> 03 </p>
      <p> 04 </p>
      <img src="https://www.rea.ru/ru/org/cathedries/bankkaf/SiteAssets/pages/%D0%BC%D1%8B-%D0%B3%D0%BE%D1%80%D0%B4%D0%B8%D0%BC%D1%81%D1%8F/%D0%B2%D0%BF%D0%B5%D1%80%D0%B5%D0%B4.png" alt="">
    </div>
  </div>
</div>
