.carousel {
  padding-top: 80px;
}
.main-photo img {
  width: 100%;
}
.main-content {
  width: 100%;
  background: #F6F6F6;
}
.main-content p {
  font-size: 14px;
  line-height: 16px;
  color: #7F7B7B;
}
.main-content h4 {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #C63638;
}
.main-content h5 {
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  color: #2B2F43;
}

.lg {
  height: 42px;
  width: 175px;
  position: relative;
}
.colored {
  background: #D72130;
  box-sizing: border-box;
  text-align: center;
  color: #FFF5F5;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  border-radius: 0px;
}
.colored:hover {
  background: #E02232;
  color: white;
  box-shadow: none;
}

.colored:focus {
  box-shadow: none;
}

.colored:active {
  background: #C80515;
  box-shadow: none;
  color: white;
}

.all-news {
  display: block;
  z-index: -1;
  position: absolute;
  top: 20px;
  left: -10%;
}
.all-news h2 {
  font-weight: bold;
  font-size: 140px;
  line-height: 160px;
  letter-spacing: -10px;
  color: rgba(204, 211, 224, 0.301628);
  transform: rotate(90deg);
}

@media screen and (min-width:1200px){
  .carousel{
    position: relative;
  }
  .main-photo{
    position: relative;
    top: 0;
    left: 0;
  }
  .main-content{
    position: absolute;
    top: 30%;
    left: 75.2%;
    z-index: 2;
    max-width: 51%;
    min-width: 25%;
    min-height: 49%;
    display: block;
  }
  .main-content .col-md-12{
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 46px;
  }
  .lg{
    width: 48.6%;
    position: absolute;
    bottom:0;
    left: 0;
  }
}

@media screen and (max-width:1199px){
  .lg{
    margin: 10px 0 20px;
  }
}

@media screen and (max-width:767px){
  .main-content p {
    font-size: 12px;
    line-height: 16px;
    color: #7F7B7B;
    margin-bottom: 10px;
  }
  .main-content h5 {
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: #2B2F43;
  }
  .main-content h4 {
    line-height: 20px;
    margin-bottom: 0;
  }
  .all-news {
    display: none;
  }
}
