.carousel {
  margin-top: 80px;
  position: relative;
}
.carousel-inner img {
  width: 100%;
  height: 100%;
}
.main-photo {
  width: 74%;
}
.main-photo img {
  width: 100%;
}
.main-content {
  width: 100%;
  background: #F6F6F6;
}
.main-content p {
  font-size: 14px;
  line-height: 16px;
  color: #7F7B7B;
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main-content h4 {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #C63638;
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main-content h5 {
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  color: #2B2F43;
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.lg {
  height: 42px;
  width: 175px;
  position: relative;
}
.colored {
  background: #D72130;
  box-sizing: border-box;
  text-align: center;
  color: #FFF5F5;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  border-radius: 0px;
}
.colored:hover {
  background: #E02232;
  color: white;
  box-shadow: none;
}

.colored:focus {
  box-shadow: none;
}

.colored:active {
  background: #C80515;
  box-shadow: none;
  color: white;
}

.all-news {
  display: block;
  z-index: -1;
  position: absolute;
  top: -70px;
  left: -90px;
}
.all-news h2 {
  font-weight: bold;
  font-size: 140px;
  line-height: 160px;
  letter-spacing: -10px;
  color: rgba(204, 211, 224, 0.301628);
  transform: rotate(90deg);
}
.controls {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 50px;
  bottom: 0;
}
.carousel-control-prev, .carousel-control-next {
  width: 50px;
  height: 50px;
  position: static;
}
.carousel-control-prev {
  transform: rotate(-180deg);
}
.controls svg:hover {
  color: #C63638;
}
.controls svg {
  width: 30px;
  height: 30px;
  color: #979797;;
}
.carousel-control-next{
  margin-right: 45px;
}
.carousel-indicators {
  position: static;
  width: auto;
  margin: 0;
}
.carousel-indicators .active {
  color: #C63638;
}
.carousel-indicators li:hover {
  color: #C63638;
}
.carousel-indicators li {
  text-indent: 0;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  color: #B2B2B2;
  height: auto;
  background: none;
  margin: 0;
  width: 25px;
}


@media screen and (min-width:1201px){
  .main-content{
    position: absolute;
    top: 18%;
    left: 57.6%;
    z-index: 2;
    max-width: 37.5%;
    min-width: 25%;
    min-height: 49%;
    display: block;
    box-shadow: -20px 16px 23px 0px rgba(0, 0, 0, 0.1);
  }
  .main-content .col-md-12{
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 70px;
  }
  .lg{
    width: 43.6%;
    position: absolute;
    bottom:0;
    left: 0;
  }
  .main-photo {
    max-height: 380px;
  }
}

@media screen and (max-width:1200px){
  .lg{
    margin: 10px 0 20px;
  }
  .main-photo {
    width: 100%;
  }
}

@media screen and (max-width:767px){
  .main-content p {
    font-size: 12px;
    margin-bottom: 10px;
  }
  .main-content h5 {
    font-size: 16px;
    line-height: 21px;
  }
  .main-content h4 {
    line-height: 20px;
    margin-bottom: 0;
  }
  .all-news {
    display: none;
  }
}

