.main-article {
  margin: 80px 0 40px;
}
.main-photo {
  position: relative;
}
.main-photo img {
  width: 100%;
}
.main-content {
  width: 100%;
  background: #F6F6F6;

}
.main-content p {
  font-size: 14px;
  line-height: 16px;
  color: #7F7B7B;
}
.main-content h4 {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #C63638;
}
.main-content h5 {
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  color: #2B2F43;
}
.article-text p {
  font-size: 14px;
  line-height: 19px;
  color: #000000;
}
.article-text {
  margin: 40px auto;
}

.NBA-news {
  display: block;
  z-index: -1;
  position: absolute;
  top: 40px;
  left: -140px;
}
.NBA-news h2 {
  font-weight: bold;
  font-size: 140px;
  line-height: 160px;
  letter-spacing: -10px;
  color: rgba(204, 211, 224, 0.301628);
  transform: rotate(90deg);
}


@media screen and (min-width:1200px){
  .main-article{
    position: relative;
  }
  .main-photo{
    position: relative;
    top: 0;
    left: 0;
  }
  .main-content{
    position: absolute;
    top: 10%;
    left: 75.2%;
    z-index: 2;
    max-width: 51%;
    min-width: 25%;
    display: block;
    box-shadow: -20px 16px 23px 0px rgba(0, 0, 0, 0.1);
  }
  .main-content .col-md-12{
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 46px;
  }
}


@media screen and (max-width:776px){
  .main-content p {
    font-size: 12px;
    line-height: 16px;
    color: #7F7B7B;
    margin-bottom: 10px;
  }
  .main-content h5 {
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: #2B2F43;
  }
  .main-content h4 {
    line-height: 20px;
    margin-bottom: 0;
  }
  .NBA-news {
    display: none;
  }
  .article-text p {
    padding-left: 15px;
  }
}

