<div class="comments">
  <div class="row justify-content-between">
    <div class="col-3">
      <h5>COMMENTS(2)</h5>
    </div>
    <div class="col sort">
      <h6>Sort by:</h6>
      <select>
        <option> Most popular</option>
        <option> Most popular1</option>
      </select>
    </div>
  </div>
  <div class="write-comment row">
    <div class="col-2 comment-photo">
      <img src="{{ childCommentContent?.userPhoto }}" alt="" />
    </div>
    <div class="col-10">
      <input type="text" placeholder="Write a comment" />
    </div>
  </div>
  <div class="comment-container">
    <div *ngFor="let item of childCommentContent?.postedComment">
      <div class="commentator row">
        <div class="col-2 comment-photo">
          <img src="{{ item.photo }}" alt="" />
        </div>
        <div class="col-10">
          <h4>{{ item.userName }}</h4>
          <p>{{ item.pbubDate }}</p>
        </div>
      </div>
      <div class="comment-content">
        <p>{{ item.content }}</p>
      </div>
    </div>
  </div>
</div>
