<div class="article">
  <div *ngFor="let artContent of childArticleContent; let last = last">
    <a href="#">
      <div class="row my-2">
        <div class="article-rectangle">
          <div class="col-md-5 d-md-inline-block">
            <img class="articlePhoto" src="{{ artContent.photo }}" />
          </div>
          <div class="col-md-7 d-md-inline float-right m-sm-top">
            <h5>{{ artContent.articleTitle }}</h5>
            <p>{{ artContent.articleContent }}</p>
          </div>
          <svg
            width="17"
            height="14"
            viewBox="0 0 17 14"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              id="fill1"
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M14.2931 7.88752L1.78101 7.88752C1.29892 7.88752 0.908104 7.49671 0.908104 7.01461C0.908104 6.53252 1.29892 6.1417 1.78101 6.1417L14.306 6.1417L11.1066 2.18523C10.3615 1.26384 11.7027 0.112092 12.4478 1.03349L16.8123 6.43074C17.0821 6.76433 17.0821 7.24889 16.8123 7.58249L12.4478 12.9797C11.7027 13.9011 10.3615 12.7494 11.1066 11.828L14.2931 7.88752Z"
              fill="#FFFF"
            />
          </svg>
        </div>
      </div>
    </a>
    <hr *ngIf="last != true" />
  </div>
</div>
