<div class="article">
  <div class="row">
    <div class="col-md-3">
      <div class="article-rectangle">
        <img class="articlePhoto" src="../../../assets/img/subArticlePhoto.png"/>
        <h5>Raiders release</h5>
        <p>After a five-year stint with the Oakland Raiders</p>
        <div class="arrow">
          <img src="../../../assets/img/Arrow.png"/>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="article-rectangle">
        <img class="articlePhoto" src="../../../assets/img/subArticlePhoto(1).png"/>
        <h5>London Games</h5>
        <p>NFL London Games return in 2019!</p>
        <div class="arrow">
          <img src="../../../assets/img/Arrow.png"/>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="article-rectangle">
        <img class="articlePhoto" src="../../../assets/img/subArticlePhoto(2).png"/>
        <h5>2019</h5>
        <p>2019 NFM free agency</p>
        <div class="arrow">
          <img src="../../../assets/img/Arrow.png"/>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="article-rectangle">
        <img class="articlePhoto" src="../../../assets/img/subArticlePhoto(3).png"/>
        <h5>Lorem ipsum</h5>
        <p>Lorem ipsum dolor sit amet, consectetur</p>
        <div class="arrow">
          <img src="../../../assets/img/Arrow.png"/>
        </div>
      </div>
    </div>
  </div>
</div>
