<div *ngIf="!isLoginLayoutActivated; else LoginLayout" class="container-fluid">
  <app-header [isSignedIn]="isSignedIn" [currentUser]="currentUser"></app-header>
  <div class="row">
    <div class="col-3 left">
      <app-sidenav></app-sidenav>
    </div>
    <div class="col main-container">
      <main class="container-fluid">
        <router-outlet></router-outlet>
      </main>
    </div>
  </div>
  <app-footer></app-footer>
</div>

<ng-template #LoginLayout>
  <router-outlet></router-outlet>
</ng-template>
