<app-header></app-header>

<app-sidenav></app-sidenav>

<div>
    <h3>List of routes</h3>
    <ul>
        <li *ngFor="let item of navigationItems">
            <a [routerLink]="item">{{item}}</a>
        </li>
    </ul>
</div>

<!-- You can change style of botton put name of class(sm,lg,transparent,colored) -->
<app-button [classValue]="'lg transparent'"></app-button>

<main>
    <div class='container'>
        <router-outlet>
        </router-outlet>
    </div>
</main>

<app-footer></app-footer>
