<div *ngIf="!isLoginLayoutActivated; else LoginLayout">
    <app-header [isSignedIn]="isSignedIn" [currentUser]="currentUser"></app-header>
    <div class="row">
        <div class="col-3 left">
            <app-sidenav></app-sidenav>
            <div>
                <h3>List of routes</h3>
                <ul>
                    <li *ngFor="let item of navigationItems">
                        <a [routerLink]="item">{{item}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col main-container">
            <main class="container">
                <router-outlet></router-outlet>
            </main>
        </div>
    </div>
    <app-footer></app-footer>
</div>

<ng-template #LoginLayout>
    <router-outlet></router-outlet>
</ng-template>
