<div class="hub pt-3">
  <div class="hub-title hub-size ">
    <p class="text-uppercase">Team hub</p>
  </div>
  <div class="hub-size hub-content">
    <div class="content-title">
      <p>Follow your favourite teams</p>
    </div>
    <hr />
    <div class="row">
      <div class="col-4">
        <img src="../../../../assets/img/teamHub1.png" />
      </div>
      <div class="col-8 align-self-center">
        <h5>Team's name</h5>
        <p>Some text</p>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-4">
        <img src="../../../../assets/img/teamHub1.png" />
      </div>
      <div class="col-8 align-self-center">
        <h5>Team's name</h5>
        <p>Some text</p>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-4">
        <img src="../../../../assets/img/teamHub1.png" />
      </div>
      <div class="col-8 align-self-center">
        <h5>Team's name</h5>
        <p>Some text</p>
      </div>
    </div>
    <hr />
    <div class="hub-customize">
      <div>
        <p>Customize / Select your teams</p>
      </div>
    </div>
  </div>
</div>
