@font-face {
    src: url("../shared/fonts/OpenSans-Regular.ttf");
    font-family: "Open Sans";
}

.login-page {
    display: flex;
}

.right-part {
    align-self: center;
    margin: auto;
    width: 60%;
    height: auto;
}

.left-part {
    height: 100vh;
    width: 40%;
    overflow: hidden;
}

.left-part img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sportnews {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 255px;
    height: 85px;
    background: #D72130;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sportnews a {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    color: #FFFBFB;
}

.registration {
    width: 50%;
    margin: auto;
}

@media screen and (min-width:769px) and (max-width:1200px) {
    .registration {
        width: 80%;
        margin: auto;
    }
}

@media screen and (max-width: 768px) {
    .login-page {
        flex-direction: column;
    }
    .left-part {
        display: none;
    }
    .sportnews {
        width: 100%;
        position: static;
    }
    .right-part {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .background {
        position: relative;
        background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/assets/img/background.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        width: 100%;
    }
    .registration {
        width: 100%;
        margin: auto;
    }
}