<div class="login-page">
    <div class="left-part">
        <img src="assets/img/background.jpg" alt="BG">
    </div>
    <div class="sportnews">
        <a href="#">Sport news</a>
    </div>
    <div class="right-part background px-4">
        <div class="registration">

            <!-- <app-create-account></app-create-account> -->
            <!-- <app-singup></app-singup> -->
            <!-- <app-forgot-password></app-forgot-password> -->
            <!-- <app-email></app-email> -->
            <!-- <app-change-password></app-change-password> -->
            <router-outlet>
            </router-outlet>
        </div>
    </div>
</div>