@media screen and (min-width: 1025px) {
.footer-width{
    width: 68%;
  }
  hr {
    width:82.75%;
    margin-right:0;  
    text-align:right;
  }
}

.footer-botttom-bg{
background-color: #D72130;
}

footer ul a{
    text-decoration:none;
    color:#7F7B7B;
    font-size: 12px;
}

.footer-logo{
        text-decoration:none;
        font-size: 18px;
        color: #FFFFFF;
}

footer label, .footer-sign{
    font-size: 14px;
    color: #7F7B7B;
}

.footer-copyright-info
{
    font-size: 12px;
}



 