<div class="navigation">
    <div class="already-account">
        <p>Don`t have any account?</p>
    </div>
    <app-button [routerLink]="['/login/create-account']" [classValue]="'sm transparent'" [textValue]="'Get Started'"></app-button>
</div>
<form *ngIf="message == false " [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="row">
        <div class="col-12 head">
            <h1>Forgot your password?</h1>
        </div>
        <div class="col-12 col-lg-7 text">
            <p>Enter your email address below and we`ll get you back on track</p>
        </div>
        <div class="col-12 form-group ">
            <label>Email</label>
            <input id='email' type="email" formControlName="email" class="form-control" placeholder="test@testgmail.com" name="email" [(ngModel)]="email" [ngClass]="{ 'invalid-input': (f.email.touched && f.email.errors)||(submitted && f.email.errors) ,'valid-input':f.email.touched && !f.email.errors}">
            <div *ngIf="(submitted && f.email.errors)||(f.email.touched && f.email.errors) " class="text-control ">
                <div *ngIf="f.email.errors.required ">Email is required</div>
                <div *ngIf="f.email.errors.email ">Enter valid email</div>
            </div>
        </div>
        <div class="col-12 form-group form-group-submit mt-3">
            <app-button [typeValue]="'submit'" [classValue]="'full colored'" [textValue]="'REQUEST RESENT LINK'" (click)="'moveChangePassword'"></app-button>
        </div>
        <div class="col-12 login">
            <a [routerLink]="['/login/create-account']">Don`t have any account?</a>
            <a [routerLink]="['/login']">Back to log in</a>
        </div>
    </div>
</form>
<div class="row" *ngIf="message == true ">
    <div class="col-12 sendemail">
        <div class="col-3 icon-email"></div>
        <div class="col-12 head">
            <h1>Check your email {{email}}</h1>
        </div>
        <div class="col-12  text">
            <p>If there`s Sport News account linked to this email address,we`ll send over instuctions to reset to your password.</p>
        </div>
        <app-button [routerLink]="['/login/change-password']" [typeValue]="'submit'" [classValue]="'full colored'" [textValue]="'CHANGE PASSWORD'"></app-button>
    </div>
    <div class="col-12 login">
        <a href="#">Don`t have any account?</a>
    </div>
</div>